<h1>Encode dis bish!!</h1>

<form action="show" method="post" accept-charset="utf-8">
  <label for="shift">Letter to offset by: </label>
  <input type="text" name="shift" id="shift" />

  <label for="message">Your Message</label>
  <input type="text" name="message" id="message" />

  <input type="submit" value="Encode!" />
</form>
